.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes App-logo-reverse-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.square-item {
    display: inline-block;
    line-height: 300px;
    text-align: center;
    max-width: 30%;
    border: solid;
}

.img-container {
    display: flex;
    justify-content: space-around;
}

.sentiment {
    height: 120px;
}

.happy{
    animation: App-logo-spin infinite 20s linear;
}

.sad {
    animation: App-logo-reverse-spin infinite 20s linear;
}
.even {
    background: linear-gradient(#ddd, #ccc);
}

.App-content{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}