.img-container {
    display: inline-flex;
    width: 50%;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: bolder ;
    font-size: x-large;
}

.img-container a:hover {
    cursor: pointer;
}

.Website-name{
    margin-top: 8px;
    margin-left: 20px;
}

.App{
    display: block;
}

.banner{
    left: 0;
    right: 0;
    background: #444;
    height: 50px;
}

.App-content{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.active {
    color:#d6a153
}

.icon{
    float: right;
    font-family: 'Raleway', sans-serif;
    color: #b4ff44;
    font-weight: bolder ;
    font-size: x-large;
    padding: 10px;
}